/target
/.settings
/.classpath
/.project
/node_modules
/webpack.generated.js
/node
/package-lock.json
/webpack.config.js
/package.json
/tsconfig.json
/types.d.ts
/vite.generated.ts
/vite.config.ts
/src/main/dev-bundle
/src/main/bundles
/src/main/frontend/generated
/src/main/frontend/index.html
/frontend/generated
/frontend/index.html
/.claude/settings.local.json
